$black-color: #0000;
$green-color: #2FED2F;
$gray-color: #808080;
$red-color: #FF0000;
$purple-color: #6A58F1;
$blue-color: #2F80ED;
$white-color: #FFFFFF;
$multicolor: linear-gradient(to left, #e913bb, #7bf1d4, #12c2e9);
$border-dark: rgba($base-color, 0.88);