.carrousel-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .left-arrow {
        position: absolute;
        z-index: 1;
        left: 3%;
        margin-top: 5%;
    }

    .right-arrow {
        position: absolute;
        z-index: 1;
        right: 3%;
        margin-top: 5%;
    }

    .center-text {
        width: 100%;
        text-align: center;

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
                padding: 10px;

                .transparent-container {
                    width: 100%;
                    height: auto;
                    background-color: transparent;
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    padding: 5px 10px;

                    .flex-3-col {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;

                        .grid-3-items {
                            display: grid;
                            grid-template-columns: 1fr 3fr 1fr;
                            gap: 10px;
                            padding: 10px;
                        }

                        .grid-3-items-2 {
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 10px;
                            padding: 10px;
                        }

                        .blue-btn {
                            width: 100%;
                            padding: 23px 20px;
                            border-radius: 50px;
                            background-color: #2F80ED;
                            color: white;
                            text-decoration: none;
                            border: none;
                        }
                    }

                    .grid-2-items {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);

                        .flex-2-img {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}