.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0E1135;

    .center-text {
        width: 100%;
        text-align: center;
    }

    .intup-inner-btn {
        padding: 10px 20px;
        border-radius: 50px;
        color: white;
        text-decoration: none;

        input {
            padding: 10px 20px;
            border-radius: 50px;
            color: black;
            text-decoration: none;
            border: 1px solid white;
            background-color: white;
            width: 40%;
        }

        button {
            position: relative;
            padding: 8px 20px;
            border-radius: 50px;
            color: white;
            text-decoration: none;
            border: none;
            margin-left: -4.3%;
        }
    }

    .end-content {
        width: 100%;
        height: auto;
        padding: 0% 15%;

        .grid-3-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 10px;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border-radius: 5px;
                color: white;

                .logo-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }

                .flex-4-items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }
}