.info-photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 10px;
    width: 100%;

    .container-left {
        width: 49%;
        display: flex;
        flex-wrap: wrap;

        .text-title {
            font-size: 4rem;
            font-weight: bold;
            color: white;
            width: 100%;
            height: auto;
        }

        .information {
            color: white;
            font-size: 1.5rem;
        }

        .grid-2-btn {
            width: 100%;
            display: grid;
            grid-template-columns: 5fr 5fr;
            gap: 10px;
            padding: 10px;
        }

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 5fr);
            gap: 10px;
            padding: 10px;
            align-items: flex-end;


            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;

                .numbers {
                    font-size: 3rem;
                    font-weight: bold;

                    .center-text {
                        text-align: center;

                        .information {
                            font-size: 1.5rem;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .container-right {
        position: relative;
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .back-transp-1 {
            position: absolute;
            top: -3%;
            left: 0%;
            width: 80%;
            height: 50%;
            background: transparent;
            border-radius: 20px;
            transform: skewX(-11deg);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        }

        .back-transp-2 {
            position: absolute;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 100%;
            background: transparent;
            border-radius: 20px;
            transform: skewX(-11deg);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        }

        .container-around-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            z-index: 10;

            .top-float {
                top: 0%;
                left: 70%;
            }

            .button-float {
                top: 75%;
                left: 0%;
            }

            .button-float-2 {
                top: 100%;
                left: 0%;
            }

            .button-float-3 {
                top: 105%;
                left: 40%;
            }

            .wt-170 {
                width: 170px;
            }

            .wt-150 {
                width: 150px;
            }

            .mid-float {
                top: 50%;
                left: 50%;
            }

            .wt-300 {
                width: 300px;
            }

            .grid-3-col {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
                padding: 10px;
            }
        }
    }
}