@use './_base/navbar';
@use './_base/infoPhoto';
@use './_base/floatBox';
@use './_base/contentWaller';

@use './_base/articles';
@use './_base/topCollections';
@use './_base/sell';

@use './_base/footer';
@use './_base/carrousel';

@use './_mediaQuery/media';

@use './_variables/variables';

body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-width: 375px;
}

a {
    text-decoration: none;
}

.pd-body {
    padding: 0% 5%;
}

.blue-btn {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: $blue-color;
    color: $white-color;
    text-decoration: none;
}

.transparent-btn {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: $white-color;
    text-decoration: none;
    border: 1px solid $white-color;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pd-l-20 {
    padding-left: 20px !important;
}

.btn-font-size {
    font-size: 1.5rem;
    padding: 10px 20px;
    color: $white-color;
}

.big-text {
    font-size: 1.5rem;
    padding: 10px 80px;
    color: $white-color;
}

.rainbow-border {
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-image: $multicolor 1;
    border-image-slice: 2;
    border-radius: 20px;
}

.flex-btn {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.color-text {
    background: $multicolor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.cl-black {
    color: $black-color !important;
}

.cl-green {
    color: $green-color !important;
}

.cl-white {
    color: $white-color !important;
}

.cl-gray {
    color: $gray-color !important;
}

.cl-red {
    color: $red-color !important;
}

.cl-purple {
    color: $purple-color !important;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle-text {
    font-size: 3rem;
    font-weight: bold;
    color: $white-color;
}

.line-white {
    width: 70%;
    height: 0.6px;
    background-color: $white-color;
}