body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.pd-body {
    padding: 0% 5%;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: auto;

    .grid-2-sec {
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 10px;

        .grid-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .logo-and-name {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            .items-end {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;
                padding: 10px;

                .grid-5-items {
                    display: grid;
                    grid-template-columns: repeat(5, 4fr);
                    gap: 5px;
                    list-style: none;
                    text-align: center;

                    .items {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        color: white;
                        text-decoration: none;

                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.info-photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 10px;
    width: 100%;

    .container-left {
        width: 49%;
        display: flex;
        flex-wrap: wrap;

        .text-title {
            font-size: 4rem;
            font-weight: bold;
            color: white;
            width: 100%;
            height: auto;
        }

        .information {
            color: white;
            font-size: 1.5rem;
        }

        .grid-2-btn {
            width: 100%;
            display: grid;
            grid-template-columns: 5fr 5fr;
            gap: 10px;
            padding: 10px;
        }

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 5fr);
            gap: 10px;
            padding: 10px;
            align-items: flex-end;


            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;

                .numbers {
                    font-size: 3rem;
                    font-weight: bold;

                    .center-text {
                        text-align: center;

                        .information {
                            font-size: 1.5rem;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .container-right {
        position: relative;
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .back-transp-1 {
            position: absolute;
            top: -3%;
            left: 0%;
            width: 80%;
            height: 50%;
            background: transparent;
            border-radius: 20px;
            transform: skewX(-11deg);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        }

        .back-transp-2 {
            position: absolute;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 100%;
            background: transparent;
            border-radius: 20px;
            transform: skewX(-11deg);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        }

        .container-around-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            z-index: 10;

            .top-float {
                top: 0%;
                left: 70%;
            }

            .button-float {
                top: 75%;
                left: 0%;
            }

            .button-float-2 {
                top: 100%;
                left: 0%;
            }

            .button-float-3 {
                top: 105%;
                left: 40%;
            }

            .wt-170 {
                width: 170px;
            }

            .wt-150 {
                width: 150px;
            }

            .mid-float {
                top: 50%;
                left: 50%;
            }

            .wt-300 {
                width: 300px;
            }

            .grid-3-col {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
                padding: 10px;
            }
        }
    }
}

.float-text-box {
    position: absolute;
    height: auto;
    padding: 0px 7px;
    background: transparent;
    border-radius: 20px;
    color: white;
    text-align: center;
    transform: skewX(-20deg);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .cl-white {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;

        .grid-2-items {
            display: grid;
            grid-template-columns: 1fr 5fr;
            gap: 10px;
            padding: 10px;

            .items {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
                text-decoration: none;
            }

            .verify {
                position: absolute;
                top: 50%;
                left: 24%;
                transform: translate(1%, -30%);
            }
        }

        .grid-2-items-2 {
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 10px;
            padding: 10px;

            .items {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
                text-decoration: none;
            }

            .verify {
                position: absolute;
                top: 50%;
                left: 24%;
                transform: translate(1%, -30%);
            }
        }
    }

    .info-text {
        font-size: 1rem;
        font-weight: normal;
        color: white;
    }
}

.cont-wallets {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .center-text {
        width: 100%;
        text-align: center;

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
            }
        }

        .grid-2-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
            }
        }
    }
}

.top-colection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .center-text {
        width: 100%;
        text-align: center;

        .grid-6-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 10px;
        }

        .grid-4-items {
            margin-top: 3%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border-radius: 5px;
                color: white;
                padding: 10px;

                .transparent-container {
                    width: 100%;
                    height: auto;
                    background-color: transparent;
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    padding: 20px 0px;

                    .just-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: flex-start;
                        gap: 10px;
                        padding: 0px 20px;

                        .grid-2-items {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 0px;
                            padding: 10px;

                            .item {
                                color: white;

                                p {
                                    font-size: 1.3rem;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sell-nft {
    width: 100%;
    height: auto;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 20px;

    .center-text {
        width: 100%;
        text-align: center;

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;

                .transparent-container {
                    width: 100%;
                    height: auto;
                    background-color: transparent;
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                }
            }
        }
    }
}

.articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .center-text {
        width: 100%;
        text-align: center;

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;

                .transparent-container {
                    width: 100%;
                    height: auto;
                    background-color: transparent;
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;

                    .just-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: flex-start;
                        gap: 10px;
                        padding: 0px 25px;

                        h3 {
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0E1135;

    .center-text {
        width: 100%;
        text-align: center;
    }

    .intup-inner-btn {
        padding: 10px 20px;
        border-radius: 50px;
        color: white;
        text-decoration: none;

        input {
            padding: 10px 20px;
            border-radius: 50px;
            color: black;
            text-decoration: none;
            border: 1px solid white;
            background-color: white;
            width: 40%;
        }

        button {
            position: relative;
            padding: 8px 20px;
            border-radius: 50px;
            color: white;
            text-decoration: none;
            border: none;
            margin-left: -4.3%;
        }
    }

    .end-content {
        width: 100%;
        height: auto;
        padding: 0% 15%;

        .grid-3-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 10px;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border-radius: 5px;
                color: white;

                .logo-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }

                .flex-4-items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }
}

.carrousel-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .left-arrow {
        position: absolute;
        z-index: 1;
        left: 3%;
        margin-top: 5%;
    }

    .right-arrow {
        position: absolute;
        z-index: 1;
        right: 3%;
        margin-top: 5%;
    }

    .center-text {
        width: 100%;
        text-align: center;

        .grid-3-items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
                padding: 10px;

                .transparent-container {
                    width: 100%;
                    height: auto;
                    background-color: transparent;
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    padding: 5px 10px;

                    .flex-3-col {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;

                        .grid-3-items {
                            display: grid;
                            grid-template-columns: 1fr 3fr 1fr;
                            gap: 10px;
                            padding: 10px;
                        }

                        .grid-3-items-2 {
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 10px;
                            padding: 10px;
                        }

                        .blue-btn {
                            width: 100%;
                            padding: 23px 20px;
                            border-radius: 50px;
                            background-color: #2F80ED;
                            color: white;
                            text-decoration: none;
                            border: none;
                        }
                    }

                    .grid-2-items {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);

                        .flex-2-img {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}

.blue-btn {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #2F80ED;
    color: white;
    text-decoration: none;
}

.transparent-btn {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pd-l-20 {
    padding-left: 20px !important;
}

.btn-font-size {
    font-size: 1.5rem;
    padding: 10px 20px;
    color: white;
}

.big-text {
    font-size: 1.5rem;
    padding: 10px 80px;
    color: white;
}

.rainbow-border {
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-image: linear-gradient(to left, #e913bb, #7bf1d4, #12c2e9) 1;
    border-image-slice: 2;
    border-radius: 20px;
}

.flex-btn {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.color-text {
    background: linear-gradient(to left, #e913bb, #7bf1d4, #12c2e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.cl-black {
    color: black !important;
}

.cl-green {
    color: #2FED2F !important;
}

.cl-white {
    color: white !important;
}

.cl-gray {
    color: gray;
}

.cl-red {
    color: red;
}

.cl-purple {
    color: #6A58F1;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.line-white {
    width: 70%;
    height: 0.6px;
    background-color: white;
}

@media (min-width: 1301px) and (max-width: 1400px) {
    .articles {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .carrousel-content {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .info-photo {
        .container-left {
            width: 100%;

            .text-title {
                font-size: 3rem;
            }

            .information {
                font-size: 1.2rem;
            }

            .grid-3-items {
                .items {
                    .numbers {
                        font-size: 2rem;

                        .center-text {
                            .information {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .container-right {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .float-text-box {
        .cl-white {
            .grid-2-items {
                .verify {
                    left: 13%;
                    width: 10%;
                }
            }
        }
    }

    .cont-wallets {
        padding-top: 20%;
    }

    .top-colection {
        .center-text {
            .grid-6-items {
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;

                .items {
                    margin-bottom: 10%;
                }
            }

            .grid-4-items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .articles {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .carrousel-content {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .footer {
        .intup-inner-btn {
            input {
                width: 90%;
            }

            button {
                position: absolute;
                left: 90%;
                margin-top: 0.5%;
                transform: translate(-50% -50%);
            }
        }
    }
}

@media (min-width: 770px) and (max-width: 927px) {
    .cont-wallets {
        padding-top: 25%;

        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }

            .grid-2-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .top-colection {
        .center-text {
            .grid-6-items {
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;

                .items {
                    margin-bottom: 10%;
                }
            }
        }
    }

    .sell-nft {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .articles {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .carrousel-content {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

// Responsive
@media screen and (max-width: 768px) {
    .pd-body {
        padding: 0%;
    }

    .nav {
        padding: 10px 0px;

        .grid-2-sec {
            .grid-item {
                .items-end {
                    display: none;
                }
            }
        }
    }

    .info-photo {
        padding-left: 5%;
        width: 92%;

        .container-left {
            width: 100%;

            .text-title {
                font-size: 3rem;
            }

            .information {
                font-size: 1.2rem;
            }

            .grid-3-items {
                .items {
                    .numbers {
                        font-size: 2rem;

                        .center-text {
                            .information {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .container-right {
            width: 100%;

            img {
                width: 100%;
            }

            .container-around-img {

                .wt-170 {
                    width: 100px;
                }

                .wt-150 {
                    width: 100px;
                }

                .wt-300 {
                    width: 200px;
                }

                .grid-3-col {
                    grid-template-columns: repeat(5, 1fr);
                }

                .top-float {
                    left: 60%;
                }

                .mid-float {
                    left: 35%;
                }

                .button-float {
                    left: 0%;
                }

                .button-float-2 {
                    left: 0%;
                }

                .button-float-3 {
                    left: 35%;
                }
            }
        }
    }

    .float-text-box {
        .cl-white {
            font-size: 0.8rem;

            .grid-2-items {
                .verify {
                    left: 13%;
                    width: 10%;
                }
            }
        }

        .info-text {
            font-size: 0.5em;
        }
    }

    .cont-wallets {
        padding-top: 25%;

        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }

            .grid-2-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .top-colection {
        .center-text {
            .grid-6-items {
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;

                .items {
                    margin-bottom: 10%;
                }
            }

            .grid-4-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .sell-nft {
        padding: 3px;

        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);

                .items {
                    width: 100%;
                }
            }
        }
    }

    .articles {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);

                img {
                    width: 100%;
                }
            }
        }
    }

    .carrousel-content {
        .center-text {
            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);

                .items {
                    padding: 0%;

                    .transparent-container {
                        padding: 10px;
                        width: 90%;

                        .flex-3-col {
                            .img-photo {
                                width: 90%;
                            }
                        }   

                        .grid-2-items {
                            padding: 0px;
                            grid-template-columns: repeat(1, 1fr);

                            .flex-2-img {
                                flex-direction: row;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        .intup-inner-btn {
            input {
                width: 90%;
            }

            button {
                position: absolute;
                left: 80%;
                margin-top: -8.7%;
                transform: translate(-50% -50%);
            }
        }

        .end-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .grid-3-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}